@media (max-width: 1000px){
    .container{
        width: 80%;
    }

    #home{
        display: block;
    }

    #home .start{
        width: 100%;
        text-align: center;
    }

    #home .cat{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 800px){
    #about{
        margin-bottom:  100px;
    }
}

@media (max-width:650px){
    .container{
        width: 95%;
    }

    #about .photo  #photo{
        display: flex;
        justify-content: center;
    }

    #about .photo  #photo img{
        width: 90%;
    }
}
/*
@media (max-width: 600px){
    .container{
        width: 100%;
    }

    #about .photo  #photo img{
        width: 90%;
    }
}