*{
    margin: 0;
    padding: 0;
    border: 0;
    outline-width: 0;
}

body{
    background-image: url(images//background.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-shadow: 0.4em 0.1em 0.2em black;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    background: none;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    font-family: "salsa", cursive;
}



h3 a{
    grid-column: 1/2;
    font-size: 2rem;
    
}

header nav h3 :hover{
    font-size: 2.5rem;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

nav ul li :hover{
    font-size: 1.5rem;
}

h1{
    font-size: 3rem;
    font-family: "salsa", cursive;
}

p{
    font-size: 1.3rem;
    font-family: "display", cursive;
}

ul{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}

.project img{
    width: 100%;
    border-radius: 10px;
}

.nav-project{
    grid-column: 1/2;
}

.nav-photo{
    grid-column: 2/3;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(3, 100vh);
}

.home{
    grid-column: 2/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.information{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact ul{
    display: flex;
}

.contact ul li{
    width: 25%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.contact img {
    width: 2rem;
}

.contact a :hover{
    width: 3rem;
}

.cat-gif{
    grid-column: 2/3;
    grid-row: 2/3;
}

.coding-cat{
    width: 15rem;
}


.project{
    grid-column: 2/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 1fr ;
    text-align: center;
}

.back-projct{
    background:none;
    text-align: center;
    width: 100%;
}

.project img{
    border-radius: 10px;
    max-width: 35vh;
}

.dices{
    grid-column: 1/2;
    grid-row: 2/3;
}

.tin-dog{
    grid-column: 2/3;
    grid-row: 2/3;
}

.drum-kit{
    grid-column: 3/4;
    grid-row: 2/3;
}

.button{
    grid-column: 2/3;
    grid-row: 3/4;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background: none;
    border: solid 3px red;
    color: white;
    font-size: 2rem;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    cursor: pointer;
}

.photos{
    grid-column: 2/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
}

.picture{
    grid-row: 2/3;
    grid-column: 1/5;
    display: flex;
    align-items: center;
}

.button-left{
    grid-column: 1/2;
    grid-row: 2/3;
    cursor: pointer;
}

.button-right{
    grid-column: 4/5;
    grid-row: 2/3;
    cursor: pointer;
}

.photos img{
    width: 100%;
    border-radius: 10px;
}



@media (max-width: 420px){

    .contaainer{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .home{
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .information{
        grid-row: 2/3;
    }

    .cat-gif{
        grid-row: 3/4;
    }

}