<%- include('partials/header.ejs') %>

    <main>
        <div class="container">
            <div class="title">
                <h1>QR CODE GENERATOR</h1>
            </div>

            <div class="form">
                <form action="/post" method="post">
                    <label for="url">Write your url:</label>
                    <input type="text" name="url" id="url" required>
                    <button type="submit">SUBMIT</button>
                </form>
            </div>

            <h3><%= text_qr_code %></h3>

            <div class="qr-image">
                <% if (img_src) { %>
                    <img src="<%= img_src %>" alt="Your QR Code">
                <% } %>
                
            </div>
        </div>
    </main>

<%- include('partials/footer.ejs') %>